RewriteEngine On







# ===============================
# index.php ko hide karo (sirf / allow)
# ===============================

# agar koi index.php likhe → /
RewriteCond %{THE_REQUEST} \s/index\.php[\s?]
RewriteRule ^index\.php$ / [R=301,L]

# / open ho to index.php load ho
RewriteRule ^$ index.php [L]















# 1️⃣ agar koi reset-password.php likhe → reset-password
RewriteCond %{THE_REQUEST} \s/reset-password\.php[\s?]
RewriteRule ^reset-password\.php$ reset-password [R=301,L]

# 2️⃣ clean URL load kare reset-password.php
RewriteRule ^reset-password/?$ reset-password.php [L]


# ===============================
# forgot-password.php → /forgot-password
# ===============================

# agar koi forgot-password.php likhe → /forgot-password
RewriteCond %{THE_REQUEST} \s/forgot-password\.php[\s?]
RewriteRule ^forgot-password\.php$ forgot-password [R=301,L]

# clean URL internally load kare forgot-password.php
RewriteRule ^forgot-password/?$ forgot-password.php [L]


# ===============================
# register.php → /register
# ===============================

# agar koi register.php likhe → /register
RewriteCond %{THE_REQUEST} \s/register\.php[\s?]
RewriteRule ^register\.php$ register [R=301,L]

# clean URL internally load kare register.php
RewriteRule ^register/?$ register.php [L]



# ===============================
# login.php → /login
# ===============================

# agar koi login.php likhe → /login
RewriteCond %{THE_REQUEST} \s/login\.php[\s?]
RewriteRule ^login\.php$ login [R=301,L]

# clean URL internally load kare login.php
RewriteRule ^login/?$ login.php [L]





# ===============================
# my-bookings.php → /my-bookings
# ===============================

# agar koi my-bookings.php likhe → /my-bookings
RewriteCond %{THE_REQUEST} \s/mybookings\.php[\s?]
RewriteRule ^mybookings\.php$ mybookings [R=301,L]

# clean URL internally load kare my-bookings.php
RewriteRule ^mybookings/?$ mybookings.php [L]








# ===============================
# gallery.php → /gallery
# ===============================

# agar koi gallery.php likhe → /gallery
RewriteCond %{THE_REQUEST} \s/gallry\.php[\s?]
RewriteRule ^gallry\.php$ gallry [R=301,L]

# clean URL internally load kare gallery.php
RewriteRule ^gallry/?$ gallry.php [L]





# ===============================
# contact.php → /contact
# ===============================

# agar koi contact.php likhe → /contact
RewriteCond %{THE_REQUEST} \s/contact\.php[\s?]
RewriteRule ^contact\.php$ contact [R=301,L]

# clean URL internally load kare contact.php
RewriteRule ^contact/?$ contact.php [L]



# ===============================
# booking.php → /booking
# ===============================

# agar koi booking.php likhe → /booking
RewriteCond %{THE_REQUEST} \s/booking\.php[\s?]
RewriteRule ^booking\.php$ booking [R=301,L]

# clean URL internally load kare booking.php
RewriteRule ^booking/?$ booking.php [L]





# ===============================
# accomodation.php → /accomodation
# ===============================

# agar koi accomodation.php likhe → /accomodation
RewriteCond %{THE_REQUEST} \s/accomodation\.php[\s?]
RewriteRule ^accomodation\.php$ accomodation [R=301,L]

# clean URL internally load kare accomodation.php
RewriteRule ^accomodation/?$ accomodation.php [L]






# ===============================
# about.php → /about
# ===============================

# agar koi about.php likhe → /about
RewriteCond %{THE_REQUEST} \s/about\.php[\s?]
RewriteRule ^about\.php$ about [R=301,L]

# clean URL internally load kare about.php
RewriteRule ^about/?$ about.php [L]





# ADMIN WALA PART ***************


# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L]







